* {
    font-family: Gotham, sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
}

.body-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.header {
    background-color: #FDFDFF;
    color: #000;
    align-items: center;
}

.footer {
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FDFDFF;
    color: #000;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.ocorrenciasBD {
    display: block;
    margin-top: 10px;
}

.titleOcorrencias {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    width: 100%;
    height: 80%;
}

.btn-upload {
    background-color: #0a2240 !important;
    border-color: #0a2240 !important;
    color: #fff !important;
}

.btn-cancel {
    background-color: #F56C6C !important;
    border-color: #F56C6C !important;
    color: #fff !important;
}

.btn-add {
    background-color: #409EFF !important;
    border-color: #409EFF !important;
    color: #fff !important;
}

.modal-content {
    border-radius: 0.75rem !important;
}

.form-popup {
    display: flex;
    flex-direction: column;
}

.form-popup input {
    width: 100%;
}

#loading .modal-content {
    align-items: center !important;
    width: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

#info-alert {
    border-radius: 50rem !important;
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
}

#warning-alert {
    border-radius: 50rem !important;
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}

#error-alert {
    border-radius: 50rem !important;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

#success-alert {
    border-radius: 50rem !important;
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

#editFileModal .modal-content {
    margin: 1.5rem !important;
}

#editFileModal .modal-dialog {
    max-width: none !important;
    margin: unset !important;
}

#editFileModal .search-input {
    border-radius: 50rem !important;
}

#editFileModal .page-item.active .page-link {
    background-color: #409EFF !important;
    border-color: #409EFF !important;
    color: #fff !important;
}

#editFileModal .page-link {
    color: #409EFF !important;
}

.toast {
    width: unset !important;
}

.btn-resetMap {
    border-radius: 50% !important;
}